.nav-info{
    /* border: solid white; */
    width: 100%;
    /* height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between;  */
    /* text-align: center; */

    /* margin-left: 5%;
    margin-right: 5%; */

    /* height: fit-content; */
}


.aircraft-info{
    /* border: solid white; */
    width: 50%;
    justify-items: left;
    align-items: center;
    display: flex;
    color: white;
}

.aircraft-logo{
    /* border: solid yellow ; */
    height: 50px;
    padding: 2%;
}

.referencedocs-container{
    /* border: solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}



@media (max-width: 950px) {

    .nav-info{
        justify-items:end;
        text-align: left;
        align-items: left;
    }
    .nav-info h4{
        font-size:medium; 
    }

    .referencedocs-container{
        display: none;
    }

    .aircraft-info{
        /* border: solid blue; */
        width: 100%;
    }

    .aircraft-logo{
        height: 40px;
    }
}
